@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
  font-family: 'Quicksand', sans-serif;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* ユーザー一覧画面 */
.search {
  margin-bottom: 20px;
}

/* item */
.item .panel-body {
  height: 70px;
  padding:0;
}
.item .panel-heading {
  height: 250px;
}
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.item-title span{
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  margin-top:3px;
}

p.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 14px;
	font-weight: lighter;
	text-align: center;
	margin:3px 0 0 0;
}

/* glyphicon */
.glyphicon-heart,
.glyphicon-heart-empty{
 color: #e66e8f;
}